作业8_WEB服务与应用/WSTEST1/WSTEST1/Connected Services/ServiceReference2/WebServiceTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="toBigSort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="toBigSortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toBigSortResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="toSmallSort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="toSmallSortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toSmallSortResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="toBigSortSoapIn">
    <wsdl:part name="parameters" element="tns:toBigSort" />
  </wsdl:message>
  <wsdl:message name="toBigSortSoapOut">
    <wsdl:part name="parameters" element="tns:toBigSortResponse" />
  </wsdl:message>
  <wsdl:message name="toSmallSortSoapIn">
    <wsdl:part name="parameters" element="tns:toSmallSort" />
  </wsdl:message>
  <wsdl:message name="toSmallSortSoapOut">
    <wsdl:part name="parameters" element="tns:toSmallSortResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTestSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="toBigSort">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">数字从小到大排序。输入示例：3,6,-1,8,100,-7</wsdl:documentation>
      <wsdl:input message="tns:toBigSortSoapIn" />
      <wsdl:output message="tns:toBigSortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="toSmallSort">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">数字从大到小排序。输入示例同上</wsdl:documentation>
      <wsdl:input message="tns:toSmallSortSoapIn" />
      <wsdl:output message="tns:toSmallSortSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTestSoap" type="tns:WebServiceTestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toBigSort">
      <soap:operation soapAction="http://tempuri.org/toBigSort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toSmallSort">
      <soap:operation soapAction="http://tempuri.org/toSmallSort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTestSoap12" type="tns:WebServiceTestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toBigSort">
      <soap12:operation soapAction="http://tempuri.org/toBigSort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toSmallSort">
      <soap12:operation soapAction="http://tempuri.org/toSmallSort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTest">
    <wsdl:port name="WebServiceTestSoap" binding="tns:WebServiceTestSoap">
      <soap:address location="http://localhost:52140/WebServiceTest.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTestSoap12" binding="tns:WebServiceTestSoap12">
      <soap12:address location="http://localhost:52140/WebServiceTest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>